extends ./../layout

block content
    main.mdl-layout__content.mdl-color--grey-100
        .mdl-grid.demo-content
            if (message.length > 0)
                .alert.alert-success.text-center(role='alert')
                     p= message 
                br
                br
            .container_demo
                section
                    #wrapper
                        #login.animate.form
                            form(action='', autocomplete='on', method='post')
                                h1  Edite 
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Username
                                    input#usernamesignup(name='nom', required='required', type='text', value='#{user.profile.name}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Your firstname
                                    input#usernamesignup(name='firstname', required='required', type='text',  value='#{user.profile.firstName}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Your scondename
                                    input#usernamesignup(name='secondename', required='required', type='text',  value='#{user.profile.secondeName}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Prefirence
                                    input#usernamesignup(name='prefirence', required='required', type='text', value='#{user.profile.prefirence}')
                                p
                                    label.youmail(for='emailsignup', data-icon='e') Email
                                    input#emailsignup(name='email', required='required', type='email', value='#{user.email}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Sex
                                    input#usernamesignup(name='sex', required='required', type='text',  value='#{user.profile.sex}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Age
                                    input#usernamesignup(name='age', required='required', type='text',  value='#{user.profile.age}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Adress
                                    input#usernamesignup(name='adress', required='required', type='text',  value='#{user.profile.adress}')
                               
                                
                                p.signin.button
                                    input(type='submit', value='Edit')
