extends ./../layout

block content
    main.mdl-layout__content.mdl-color--grey-100
        .mdl-grid.demo-content
            if (message.length > 0)
                p= message 
            .container_demo
                section
                    #wrapper
                        #login.animate.form
                            form(action='', autocomplete='on', method='post')
                                h1  Edite 
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Username
                                    input#usernamesignup(name='nom', required='required', type='text', value='#{users.profile.name}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Your firstname
                                    input#usernamesignup(name='firstname', required='required', type='text',  value='#{users.profile.firstName}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Your scondename
                                    input#usernamesignup(name='secondename', required='required', type='text',  value='#{users.profile.secondeName}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Prefirence
                                    input#usernamesignup(name='prefirence', required='required', type='text', value='#{users.profile.prefirence}')
                            
                                p
                                    label.youmail(for='emailsignup', data-icon='e') Email
                                    input#emailsignup(name='email', required='required', type='email', value='#{users.email}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Sex
                                    input#usernamesignup(name='sex', required='required', type='text',  value='#{users.profile.sex}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Age
                                    input#usernamesignup(name='age', required='required', type='text',  value='#{users.profile.age}')
                                p
                                    label.uname(for='usernamesignup', data-icon='u') Adress
                                    input#usernamesignup(name='adress', required='required', type='text',  value='#{users.profile.adress}')
                                p
                                    label.youmail(for='roll', data-icon='e')  Roll
                                    input#emailsignup(name='roll', required='required', type='text', value='#{users.roll}')
                               
                                
                                p.signin.button
                                    input(type='submit', value='Edit')
